.image-container {
  max-width: 100%;
  height: auto;
  position: relative;
}

.btn {
  display: inline-block;
  padding: 0.7rem 1rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background-color: #ffd700;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.01);
}

.dflex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > *:not(:last-child) {
    margin-right: 0.5rem;
  }
}
