.image-container {
  max-width: 100%;
  height: auto;
}

.btn {
  display: block;
  padding: 0.7rem 1rem;
  border: 0;
  outline: 0;
  border-radius: 5px;
  background-color: #7ed957;
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.01);
}
