@import 'global';
@import 'utilities';

// Signup forms

.signup {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
}

.signup-form {
  background-color: #fff;
  padding: 1rem;
  margin-top: 1rem;
}

.signup-form > div {
  margin-bottom: 1rem;
}

label {
  margin-bottom: 8px;
  display: block;
}

.signup input {
  min-width: 80vw;
  display: block;
  padding: 0.7rem 1rem;
  border: 0;
  outline: 0;
  background-color: #ccc;
  border-radius: 5px;
}

/* User Profile */
.profile {
  padding: 1rem;
}

.profile-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: 1px solid red; */
}

.profile-header_image {
  width: 75px;
  height: 75px;
}

.profile-header_image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profile-header_action {
  /* flex: 1; */
}

.profile-posts {
  padding: 1rem 0;
}

img {
  width: 100%;
}

.d-flex {
  display: flex;
  align-items: center;
}

.ms-2 {
  margin-left: 0.5rem;
}
